.contact-form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
    background-color: #A8DF8E;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Default button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition for background-color */
  
    /* Add more padding to the button for better visibility */
    padding: 12px 0;
  }
  
  button.filled {
    background-color: #364c41; /* New color for filled button */
  }

  button:hover {
    background-color: #1c4c05;
  }
  