.product-card {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #A8DF8E;
}

.product-card__image {
  margin-top: 15px;
  width: 70px;
  height: 200px;
}

.product-card__name {
  font-size: 1.6rem;
}

.product-card a {
  text-decoration: none;
  color: var(--just-white);
}